<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sch.smktelkom_mlg.project.xiirpl5102030.belajarmengaji">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Mainpage" />
        <activity android:name=".HijaiyahPage" />
        <activity android:name=".IqroPage" />
        <activity android:name=".Iqro1" />
        <activity android:name=".Iqro2" />
        <activity android:name=".Iqro3" />
        <activity android:name=".Iqro4" />
        <activity android:name=".Iqro5" />
        <activity android:name=".Iqro6"></activity>
    </application>

</manifest>